<div class="modal-editrole">
    <div class="modal-header">
        <!---->
        <h4 class="modal-title" id="modal-basic-title">Edit role</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="btn-group mr-3">

            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-primary" ngbDropdownToggle>{{buttonText}}</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <div *ngFor="let role of roles">
                        <button class="dropdown-item" (click)="chooseRole(role)">{{role.name}}</button>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-outline-success" (click)="addRole()">ADD</button>
        </div>
        <form  #f="ngForm" novalidate (ngSubmit)="saveSubmit(f)" ngForm class="mt-4">
            {{id}}
            <div class="form-group">
                <ul class="list-group">
                    <li *ngFor="let role of userrole" class="list-group-item">
                        {{ role.name }}
                        <button type="button" (click)="deletePost(role)" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                </ul>
            </div>
            <!--Content-->
            <div class="form-group">
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="!clicked" (click)="saveSubmit(f)">Save</button>
    </div>
</div>