/****** Object:  Table [dbo].[Answers]    Script Date: 9/5/2018 1:35:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[ContentAnswer] [nvarchar](2000) NULL,
	[img] [image] NULL,
	[CreateTime] [datetime] NULL,
	[Delete] [nvarchar](5) NULL,
 CONSTRAINT [PK__Answers__D4825024DB6BDCFA] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Questions]    Script Date: 9/5/2018 1:35:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[ContentQuestion] [nvarchar](2000) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[TopicID] [int] NULL,
	[img] [image] NULL,
	[CreateDate] [datetime] NULL,
	[Delete] [nvarchar](5) NULL,
 CONSTRAINT [PK__Question__0DC06FAC56B93AA8] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/5/2018 1:35:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topic]    Script Date: 9/5/2018 1:35:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Detail] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 9/5/2018 1:35:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/5/2018 1:35:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[FacebookId] [bigint] NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[PictureUrl] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerID], [QuestionId], [UserId], [ContentAnswer], [img], [CreateTime], [Delete]) VALUES (2, 10, N'5fa64e6b-c2f6-41cf-9b30-04b0e1bb1c27', N'Tự học đi, mình cũng tự vọc nó nè', 0x, CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'False')
INSERT [dbo].[Answers] ([AnswerID], [QuestionId], [UserId], [ContentAnswer], [img], [CreateTime], [Delete]) VALUES (3, 10, N'6f37a379-e3b0-4890-9fa4-423a3a9c1889', N'vấn đề muôn thuở. Nên nếu hk có ai dẫn dắt thì rất sợ gặp phải vấn đề này', 0x, CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'True')
SET IDENTITY_INSERT [dbo].[Answers] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [Title], [ContentQuestion], [UserId], [TopicID], [img], [CreateDate], [Delete]) VALUES (1, N'Nơi học C# ở đâu?', N'Chào các bạn!mình là dân Network nhưng nay đang làm tại 1 cty software, mình muốn học thêm về code C# (cụ thể là code app chứ ko fai web)
		bạn nào biết ở HCM có trung tâm nào đào tạo C# tốt ko cho mình xin địa chỉ.', N'1f5a6009-beb4-400e-81e3-11f110f6b497', 10, 0x, CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'True')
INSERT [dbo].[Questions] ([QuestionId], [Title], [ContentQuestion], [UserId], [TopicID], [img], [CreateDate], [Delete]) VALUES (2, N'Open source vs source code', N'Có một dạo, người ta hô hào dùng Linux, viện lý do miễn phí và có mã nguồn mở.Mã nguồn iPhone rò rỉ liệu có đe dọa an ninh người dùng?', N'3212aa6f-791b-428c-a4bc-3f36fb08b911', 8, 0x, CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'True')
INSERT [dbo].[Questions] ([QuestionId], [Title], [ContentQuestion], [UserId], [TopicID], [img], [CreateDate], [Delete]) VALUES (3, N'học sách nào để bắt đầu C#, ASP.NET', N'Chào mọi người, mình đang bắt đầu học C# mà k biết nên học sách nào đời mới mà và chi tiết không nhỉ? cho m xin tiêu đề hay tên tác giả sách với.
		học trên mạng thấy rối quá..thanks nhiều!', N'333839d8-ba83-4c76-81bf-ddb17b99d567', 1, 0x, CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'False')
SET IDENTITY_INSERT [dbo].[Questions] OFF
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([TopicID], [Name], [Detail]) VALUES (1, N'Nhập môn lập trình C#, ASP.NET', N'Nhập môn lập trình C#, ASP.NET là diễn đàn dành cho người mới nhập môn(hoặc những người không muốn tuân thủ chặt chẽ luật lệ tham gia) trao đổi, thảo luận về lập trình C#, lập trình ASP.NET-C#. ')
INSERT [dbo].[Topic] ([TopicID], [Name], [Detail]) VALUES (2, N'Thắc mắc lập trình C#', N'Thắc mắc lập trình C# là diễn đàn để bạn chia sẻ và thảo luận các vấn đề liên quan đến lập trình C#. Các rắc rối và sự cố gặp phải trong việc lập trình C#.')
INSERT [dbo].[Topic] ([TopicID], [Name], [Detail]) VALUES (3, N'Thắc mắc lập trình ASP.NET', N'Thắc mắc lập trình ASP.NET là diễn đàn để bạn thắc mắc, trao đổi và chia sẻ các vấn đề liên quan đến lập trình web bằng ASP.NET sử dụng ngôn ngữ C#.')
SET IDENTITY_INSERT [dbo].[Topic] OFF
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [fk_Answer2] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [fk_Answer2]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Users]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Topic] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topic] ([TopicID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Topic]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
