<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="RoleName">Role Name</label>
      <input
        required
        ngModel
        name="roleName"
        #roleName="ngModel"
        id="roleName"
        type="text"
        class="form-control">
      <div
        class="alert alert-danger"
        *ngIf="roleName.touched && !roleName.valid">
        <div *ngIf="roleName.errors.required">
          Rolw name is required
        </div>
      </div>
      <div
        class="alert alert-danger"  *ngIf="error==''">
        {{error}}
      </div>
    </div>
    <p>
      {{f.value | json}}
    </p>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </form>