<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
    <div class="row">
        <div class="col-md-6 new-user-alert">
            <div *ngIf="brandNew" class="alert alert-success" role="alert">
                <strong>All set!</strong> Please login with your account
            </div>   
        </div>
    </div>
  <h2 *ngIf="!brandNew" class="form-signin-heading">Please sign in</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">{{ error }}.</div>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" name="userName" [(ngModel)]="this.credentials.email " class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

  <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
  <li *ngIf="!authService.isLoggedIn()"><a routerLink="/signup">Signup</a></li>
</form>