<div class="navbar bg-primary">
  <div class="input-group col-7">
    <div ngbDropdown class="input-group-prepend">
      <button type="button" class="btn" ngbDropdownToggle>
        {{Category}}
      </button>
      <div ngbDropdownMenu class="position-absolute">
        <button class="dropdown-item btn" *ngFor="let item of Categorys"(click)="selectCategory(item)">
          {{item}}
        </button>
      </div>
    </div>
    <input type="text" class="form-control" name="search">
    <div class="input-group-append">
      <button type="button" class="btn material-icons" placement="bottom" ngbTooltip="Search">
        search
      </button>
    </div>
  </div>
  <div class="col-1">
    <span class="nav-link material-icons btn" style="font-size: 20px" placement="bottom" ngbTooltip="notifications">notifications</span>
  </div>
</div>