<nav class="navbar bg-primary">
  <ul class="nav justify-content-start">
    <li class="nav-item">
      <div class="input-group">
        <div ngbDropdown class="input-group-prepend">
          <button type="button" class="btn" ngbDropdownToggle>
            All
          </button>
          <div ngbDropdownMenu class="position-absolute">
            <a class="dropdown-item" href="#">C++</a>
            <a class="dropdown-item" href="#">C#</a>
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Email" id="demo" name="email">
        <div class="input-group-append">
          <button type="button" class="btn material-icons">
            search
          </button>
        </div>
      </div>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <span class="nav-link material-icons">notifications</span>
    </li>
  </ul>
</nav>