<div class="card-questioner">
  <div class="card-header">
    <div class="">
      <img src='https://via.placeholder.com/150/771796' />
      <span class="ml-2">Trần Dưỡng</span>
      <span class="text-info ml-3 small">(just now)</span>
      <div ngbDropdown class="float-right">
        <a class="btn" id="dropdownBasic1">...</a>
        <div ngbDropdownMenu style="position: absolute">
          <button class="dropdown-item">None</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body bg-light">
    <div>
      <span>why sky is blue?</span>
    </div>
    <div class="float-right small">
      <a href="#"><span>(22)</span>Comment</a>
    </div>
  </div>
</div>