<p>
  <a routerLink="/admin/roles" class="btn btn-primary" (click)="editRole(0,null)">New Role</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Discription</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of roles">
      <td>{{r.name}}</td>
      <td></td>
      <td>
        <a routerLink="/admin/roles" (click)="editRole(1,r)">Edit</a>
        <button class="btn badge-danger" (click)="delete(r.id)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>