<div id="card-comment">
  <!--list comment-->
  <ul class="nav flex-column">

    <li class="nav-item row mb-3 alert alert-info" *ngFor="let answer of Answers">
      <div class="=form-inline" style="width: 100%">

        <img class="img-account" [src]="answer.avatarUser" />

        <span class="text-info small ml-2">{{answer.userName}}</span>

        <span class="text-info small ml-2">{{answer.createTime}}</span>

        <div class="float-right">
          <div ngbDropdown>
            <span class="btn text-success" ngbDropdownToggle placement="bottom" ngbTooltip="settings">
              <i class="material-icons small">settings</i>
            </span>
            <div ngbDropdownMenu style="position: absolute;">
              <a class="dropdown-item" href="#">Update</a>
              <a class="dropdown-item" href="#">Delete</a>
            </div>
          </div>
        </div>

      </div>

      <div class="ml-5">
        <span>{{answer.contentAnswer}}</span>
      </div>


    </li>
  </ul>

  <!--to comment-->
  <div class="row alert">
    <img class="img-account" [src]="Account.avatar" />
    <textarea class="form-control ml-2" rows=1 style="border-radius: 25px; width: 92%" type="text" name="" id=""
      [(ngModel)]="comments">{{comments}}
    </textarea>
  </div>
  <span class="btn" (click)="postComment(comments)">Reply</span>
</div>