.card-answer{
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.dropdown-item:hover{
    color: white;
    background-color: rgb(103, 103, 221);
}

